
body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #737D56;
}

h2 {
  color: #3B6F91;
}

h3 {
  color: #3B6F91;
}

.row {
  width: 900px;
  margin: 0px auto;
}

.home-page .menu-placeholder {
  height: 47px;
  background: #000;
}

header {
  position: relative;
  background: url("/pics/header-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 192px;
}

/*Homepage*/

.home-page header {
  background: none;
}

header img {
  width: 175px;
  margin: 10px 0;
}

header .company-title {
  vertical-align: top;
  display: inline-block;
  margin-top: 53px;
  margin-left: 20px;
}

header .big-text {
  font-size: 26px;
}

header .medium-text {
  font-size: 16px;
  padding-left: 10px;
}

.menu .render-menu-here {
  text-align: center;
}

.menu ul {
  text-align: justify;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}

.menu li {
  display: inline-block;
}

.menu > ul:after {
  content:' ';
  display:inline-block;
  width: 100%;
  height: 0;
}

.menu a {
  text-decoration: none;
}

.menu {
  width: 100%;
}

.menu.isFloating {
  position: fixed;
  top: 0px;
  left: 0px;
}

.menu .item {
  border: 1px solid transparent;
  display: inline-block;
  color: white;
  padding: 14px 10px;
  font-size: 14px;

  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}

.home-page .menu .active {
  background-color: #333;
}

.regular-page .menu .active {
  background-color: #FEFEFE;
  color: #000;
}

.hero-image {
  height: 300px;
  background-size: cover;
}

.winter-image {
  background-image: url("/pics/header-flatirons-winter.jpg");
}

.summer-image {
  background-image: url("/pics/flatirons_summer.jpg"); 
}

.body {
  padding-top: 50px;
  font-size: 14px;
  padding-bottom: 50px;
  background: url("/pics/FI2wr-08.jpg");
  background-repeat: repeat-x;
  background-size: contain;
}

.centered-img-container {
  text-align: center;
}

.contract-holder-image {
  width: 300px;
  margin: 0px auto;
}

footer {
  font-size: 12px;
  line-height: 2;
  text-align: center;
  margin: 14px 0 0 0;
  padding: 10px;
  background: #EFEFEF;
}

.footer-highlighted {
  font-size: 14px;
  font-weight: bold;
}

.jungle-menu {
  z-index: 3;
  position: relative;
  background: black;
}

/*Home Page*/
.home-page .menu {
  background: #000;
}

.regular-page .menu {
}

/*Regular Page*/

.regular-page .jungle-menu {
  background: transparent;
}

.header-centered {
  position: relative;
}

.header-foreground {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("/pics/header-foreground.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.regular-page .header-foreground {
  background: url("/pics/header-foreground-large.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  bottom: 0px;
  top: inherit;
}

.header-foreground-2 {
  z-index: 2;
  position: relative;
}

header img {
  width: 175px;
}

header .company-title {
  margin-top: 53px;
}

header .big-text {
}

header .medium-text {
  padding-left: 10px;
}

.isFloating {
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;

  background: black;
}

/*Products / Government*/

.expanders > a {
  display: block;
  margin-bottom: 1em;
}

.expansion-header {
  font-size: 16px;
  color: #3B6F91;
  font-weight: bold;
  display: inline;
}

.expansion-subheading {
  font-size: 16px;
  color: #3B6F91;
  font-weight: bold;
  font-style: italic;
  display: inline;
}

.expansion-text {
  color: #2C536D;
  display: inline;
}

.expansion-truncate {
  display: inline;
}

.expansion {
  display:none;
  margin:1em;
}

.expansion-truncate > i {
  color: black;
  font-size: 14px;
}

.gov {
  font-family: arial;
  color: black;
  font-size: medium;
}

/* Technology */

.tech-code {
  text-align: center;
  /*background-color: #FFFF99;*/
  background-color: #F3E2D8;
  font-family: arial;
  font-size: medium;
  padding: 3px;
}

.tech-description {
  text-align: left;
  /*background-color: #CCFFFB;*/
  background-color: #EBF0F9;
  font-family: arial;
  font-size: medium;
  padding: 3px;
}
#tech-description-header {
  text-align: center;
}

.tech-projects {
  font-family: arial;
  font-size: medium;
  padding: 3px;
}
.tech-1 {
  background-color: #9DB9EF;
}
.tech-2 {
  background-color: #E9CCBA;
}
.tech-3 {
  background-color: #AF8681;
}
.tech-4 {
  background-color: #ADA5BB;
}
.tech-5 {
  background-color: #947A7D;
}
.tech-6 {
  background-color: #A3ABDC;
}
.tech-7 {
  background-color: #E9CCBA;
}

/* Contacts */

.contact-wrapper {
  display: flexbox;
  display: flex;
}

.contact-card {
  flex: auto;
  display: block;
  margin: 20px;
}

/* Customers */

.customer-wrapper {
  display: flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.customer-logo {
  flex: auto;
  display: block;
  margin: 20px;
}

