
body {
	font-family: 'Open Sans', sans-serif;
}

.row {
	width: 900px;
	margin: 0px auto;
}

/*Homepage*/

header img {
	width: 200px;
	margin: 10px 0;
}

header .company-title {
	vertical-align: top;
	display: inline-block;
	margin-top: 65px;
	margin-left: 20px;
}

header .big-text {
	font-size: 26px;
}

header .medium-text {
	font-size: 16px;
	padding-left: 10px;
}

.menu .render-menu-here {
	text-align: center;
}

.menu a {
	text-decoration: none;
}

.menu {
	background: black;
	min-height: 48px;
	width: 100%;
}

.menu.isFloating {
	position: fixed;
	top: 0px;
	left: 0px;
}

.menu .item {
	display: inline-block;
    color: white;
    padding: 14px;
    font-size: 15px;
}

.menu .item:hover {
	background: #333;
}

.hero-image {
	background: url("/pics/header-flatirons-winter.jpg");
	height: 300px;
	background-size: cover;
}

.body {
	   padding-top: 50px;
    font-size: 14px;
    padding-bottom: 50px;
    background: url("/pics/FI2wr-08.jpg");
    background-repeat: repeat-x;
    background-size: contain;
}

.centered-img-container {
	text-align: center;
}

.contract-holder-image {
	width: 300px;
	margin: 0px auto;
}

footer {
	font-size: 12px;
    text-align: center;
    margin: 14px 0 0 0;
    padding: 10px;
    background: #EFEFEF;
}

.footer-highlighted {
	font-size: 14px;
	font-weight: bold;
}

/*Regular Page*/

.regular-page header {
	background: url("/pics/header-bg.jpg");
	background-size: cover;
}

.regular-page .menu {
	background: none;
}

.regular-page header img {
	width: 150px;
}

.regular-page header {
	color: white;
}

.regular-page header .company-title {
	margin-top: 40px;
}

.regular-page header .big-text {
	font-size: 24px;
}

.regular-page header .medium-text {
	font-size: 14px;
	padding-left: 10px;
}

.regular-page .isFloating {
	-moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;

	background: black;
}
