<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Flatirons Two, Inc.</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" type="text/css" href="styles/app.css">
</head>
<script type="text/template" id="menuTemplate">
    <% items.forEach(function(item) { %>
        <a href="<%= item.href %>" target="main">
            <div class="item <% if (item.isSelected) { print('active') } %>">
                <%= item.name %>
                <% if (typeof item.subtitle !== "undefined") { %>
                    <div class="subtitle"><%= item.subtitle %></div>
                <% }; %>
            </div>
        </a>
        <% }); %>
</script>

<body class="regular-page">
    <header>
        <div class="row">
            <img src="pics/header-logo.png">
            <div class="company-title">
                <span class="big-text">Flatirons Inc.</span>
                <span class="medium-text">Software & Technology Solutions</span>
            </div>
        </div>
        <div class="menu">
            <div class="row">
                <div class="render-menu-here"></div>
            </div>
        </div>
    </header>
    <section class="body">
        <div class="row">
            <font face="arial" color="#737D56" size="6">
                <b><i>Customers</i></b>
            </font>
            <br>
            <br>
            <br>
            <br>
            <a href="http://www.esi-intermodal.com" target="_blank"><img src="pics\ESI_logo.jpg" width="770" height="72" /></a>
            <br>
            <br>
            <a href="http://www.interdompartners.com" target="_blank"><img src="pics\Interdom_logo.jpg" width="397" height="72" /></a>
            <br>
            <br>
            <a href="http://www.genexlp.com" target="_blank"><img src="pics\Genex_logo.jpg" width="315" height="101" /></a>
            <br>
            <br>
            <a href="http://www.dctrans.com" target="_blank"><img src="pics\DCT_logo.jpg" width="300" height="46" /></a>
            <br>
            <br>
            <a href="http://www.saic.com" target="_blank"><img src="pics\SAIC.JPG" width="500" height="100" /></a>
            <br>
            <br>
            <a href="http://www.dot.gov/" target="_blank"><img src="pics\DOT.jpg" width="226" height="223" /></a>
            <br>
            <br>
            <a href="http://www.fhwa.dot.gov/" target="_blank"><img src="pics\FHA.jpg" width="451" height="112" /></a>
            <br>
            <br>
            <a href="http://www.fs.fed.us/" target="_blank"><img src="pics\usforest.jpg" width="250" height="289" /></a>
            <br>
            <br>
            <a href="http://www.carson.army.mil/" target="_blank"><img src="pics\fortcarson.jpg" width="302" height="302"></a>
            <br>
            <br>
            <a href="https://www.leidos.com/" target="_blank"><img src="pics\leidos.jpg" width="668" height="204"></a>
            <br>
            <br>
        </div>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="footer-highlighted">Flatirons Two Inc - 60 Garden Center - Suite 204 - Broomfield CO 80020</div>
            <div>Phone 303-325-7920 - Fax 866-888-6671 - Sales@f-i-2.com</div>
            <div>Copyright 2016 Flatirons Two Inc. All rights reserved.</div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="scripts/vendor/menu.js"></script>
    <script src="scripts/app.js"></script>
</body>

</html>
